@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #45b69c;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0.5rem 2rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-title svg {
  width: 30px;
  height: 30px;
  margin-right: 0.7rem;
  pointer-events: none;
  user-select: none;
}

.header button {
  padding: 0.7rem 1rem;
  border: none;
  border: 2px solid rgb(255, 255, 255);
  color: #fff;
  background: none;
  border-radius: 5px;
  cursor: pointer;
}

.header button svg {
  margin-right: 0.4rem;
  color: rgb(250, 229, 239);
}

.header .header-opt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header .header-opt .number-of-tasks {
  border: 1.5px solid white;
  padding: 18px;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header-opt .number-of-tasks p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.7rem;
}

.task-container .task-content ul {
  list-style: none;
  margin: 0;
  list-style-position: inside;
  padding: 0;
}

.task-container .task-content ul li {
  position: relative;
  background-color: white;
  color: #000;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border-radius: 4px;
  font-weight: 300;

  transition: 0.2s ease all;
}

.task-container .task-content ul li svg {
  pointer-events: none;
}

.task-container .task-content ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container .task-content ul li button {
  border: none;
  cursor: pointer;
}

.task-container .task-content ul li input {
  position: relative;
  visibility: hidden;
}

.task-container .task-content ul li input::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  scale: 1.2;
  border: 1px solid #000;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: none;
  visibility: visible;
}

.task-container .task-content ul li input::before {
  position: absolute;
  top: 1px;
  left: 2.7px;
  z-index: 111;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f00c";
  font-size: 0.7rem;
  visibility: hidden;
}

.task-container .task-content ul li input:hover::before {
  visibility: visible;
}

.task-container .task-content ul li input:checked::after {
  background-color: #45b69c;
  border-color: #45b69c;
}

.task-container .task-content ul li input:checked::before {
  color: #fff;
  visibility: visible;
}

.task-container .task-content ul li span {
  margin-left: 0.5rem;
}

.task-container .pending-task h3 {
  font-weight: 400;
}

.task-container .pending-task .empty-box {
  margin-top: 100px;
  text-align: center;
}

.task-container .pending-task .empty-box svg {
  width: 100px;
  height: 100px;
}

.completed-tasks {
  margin-top: 2rem;
  padding-bottom: 6rem;
}
.completed-tasks p {
  font-size: 20px;
}

.add-task form input {
  display: block;
  width: 100%;
  padding: 14px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #b6f0e1;
  transition: 0.1s ease all;
}

.add-task form input:hover {
  background-color: #fff;
}

.add-task {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0.3rem 0 3rem 0;
  background-color: #45b69c;
}

/* custom modal */

.custom-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0003;
}
